<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12">
            <form class="form-block">
              <div class="form-group row">
                <div class="col-md">
                  <label>Jenis Account</label>
                  <div class="select">
                    <select [(ngModel)]="selectedJenis" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="onChangeJenis()">
                      <option value="0" disabled selected>Select Jenis</option>
                      <option *ngFor="let item of jenis" [ngValue]="item">{{item.JENIS}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md">
                  <label>Kelompok Account</label>
                  <div class="select">
                    <select [(ngModel)]="selectedKelompok" [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="onChangeKelompok()">
                      <option value="0" disabled selected>Select Kelompok</option>
                      <option *ngFor="let item of kelompok" [ngValue]="item"> {{item.KELOMPOK}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button (click)="create()" type="button" class="btn float-md-right">Buat Buku Besar Baru</button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <clr-datagrid>
          <clr-dg-column [clrDgField]="'ACCBB'">ACCBB</clr-dg-column>
          <clr-dg-column [clrDgField]="'BUKUBESAR'">Keterangan</clr-dg-column>
          <clr-dg-column [clrDgField]="'GOLONGAN'">Golongan</clr-dg-column>
          <clr-dg-column>Action</clr-dg-column>

          <clr-dg-row *clrDgItems="let item of bukubesar">
            <clr-dg-cell>{{item.ACCBB}}</clr-dg-cell>
            <clr-dg-cell>{{item.BUKUBESAR}}</clr-dg-cell>
            <clr-dg-cell>{{item.GOLONGAN}}</clr-dg-cell>
            <clr-dg-cell>
              <button (click)="onEdit(item)" type="button" class="btn btn-primary btn-sm">Edit</button>
              <button (click)="onDelete(item)" type="button" class="btn btn-danger btn-sm">Delete</button>
            </clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} Unit
            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>

      </div>
    </div>
  </div>
</div>
