<clr-modal [(clrModalOpen)]="showModal" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">List Account</h3>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form action="" class="form-group">
          <div class="form-group row">
            <div class="col-md">
              <label>Unit Bisnis</label>
              <div class="select">
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedUnitBisnis"
                        (click)="onChangeUnitBisnis()">
                  <option value="0" disabled selected>Select Jenis</option>
                  <option *ngFor="let item of (unit$ | async)" [ngValue]="item">{{ item.KU + " - " + item.NAMA_UNIT}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md">
              <label>Jenis Account</label>
              <div class="select">
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedJenis" (click)="onChangeJenis()"
                        class="ui search dropdown">
                  <option value="0" disabled selected>Select Jenis</option>
                  <option *ngFor="let item of (jenis$ | async)" [ngValue]="item">{{item.JENIS}}</option>
                </select>
              </div>
            </div>
            <div class="col-md">
              <label>Kelompok Account</label>
              <div class="select">
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedKelompok"
                        (ngModelChange)="onChangeKelompok()">
                  <option value="0" disabled selected>Select Kelompok</option>
                  <option *ngFor="let item of (kelompok$ | async)" [ngValue]="item"> {{item.KELOMPOK}}</option>
                </select>
              </div>
            </div>
            <div class="col-md">
              <label>Buku Besar</label>
              <div class="select">
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedBukubesar"
                        (ngModelChange)="onChangeBukubesar()" placeholder="Select Bukubesar" class="ui search dropdown">
                  <option value="0" disabled selected>Select Bukubesar</option>
                  <option *ngFor="let item of (bukubesar$ | async)" [ngValue]="item"> {{item.BUKUBESAR}}</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <clr-datagrid>
          <clr-dg-column [clrDgField]="'ACC'">ACC</clr-dg-column>
          <clr-dg-column [clrDgField]="'KETERANGAN'">Keterangan</clr-dg-column>
          <clr-dg-column [clrDgField]="'GOLONGAN'">Golongan</clr-dg-column>
          <clr-dg-column>Action</clr-dg-column>

          <clr-dg-row *clrDgItems="let item of (account$ | async)">
            <clr-dg-cell>{{item.ACC}}</clr-dg-cell>
            <clr-dg-cell>{{item.KETERANGAN}}</clr-dg-cell>
            <clr-dg-cell>{{item.GOLONGAN}}</clr-dg-cell>
            <clr-dg-cell>
              <a (click)="pilih(item)" class="btn btn-primary btn-sm">Pilih</a>
            </clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} Account
            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Batal</button>
  </div>
</clr-modal>


